.user-form-out {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

}

.user-form-out h1 {
  color: black;
  /* color: rgb(231, 150, 150); */
  font-size: 50px;
  margin-top: 60px;
  
}


#user-form-header {
  display: flex;
  align-items: center;
}


#form-item-padding {
  margin-left: 50px;
  margin-bottom: 100px;
}

#form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#form-footer button {
  // background: red;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
}


.form-item {
  display: flex;
  flex-wrap: wrap;
}

#link-forms {
  color: black;
}

.form-index-form {
  display: flex;
  flex-direction: column;
  background: #EFEFEF;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
  cursor: pointer;
}

.form-index-form strong {
  font-size: 25px;
  margin-bottom: 8px;
  margin-left: 2px;
}

.form-index-form div {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}

.form-item a{
  text-decoration: none;
}

.users-follow{
    border: 1px red solid;
    padding: 50px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.unfollow-button{
  background-color: red;
}
.follow-button{
  background-color: green;
}
.currentUser-in-community{
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 5px;
  margin-left: 20px;
}