.board{
    background-color: rgb(94, 59, 59);
    color: white;
    // width: 100%;
    padding: 75px;
    display: flex;
    flex-direction: column;
    // align-content: center;
    // justify-content: center;

    
    // margin-top: 50px;
    // position: fixed;
}
.bottomboard {
    background-color: rgb(233, 190, 190);
    padding: 20px;
    margin: 20px;
    height: 300px;
}
.topboard {
    background-color: rgb(169, 193, 207);
    width: auto;
        padding: 20px;
        margin: 20px;
        height: 200px;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;

}
.profile-button {
    margin-left: 350px;
    background-color: blue;
    // margin-bottom: 50px;
}
.info-profile{
    margin-left: 350px;
    background-color: pink;
        // margin-bottom: 50px;


}
.link-on-profile {
    background-color: red;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    width: 30%;
    
    
}
.fa-pen-profile {
    font-size: 30px;
	margin-bottom: 490px;
	padding: 20px;
	color: black;;
}




