.splash{
    background-color: yellow;
}
.splash.title {
    font-size: 60px;
    margin: 2px;
    font-weight: 500;
    text-align: center;
}

.imgSplash{
    border-radius: 20px;
    height: 300px;
    margin: 5px;
    width: 200px;
}
.splashFooter {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.containerSplash{
   display: flex;
   align-items: center;
   justify-content: center;
   
//    resize: both;

    
}
.example{
    background-color: burlywood;
    height: 600px;
    width: 15%;
    min-width: 200px;  

    

}

