.all-splash{
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 830px;
}
.splash-title {
    font-size: 90px;
    margin: 2px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.imgSplash{
    // padding: px;
    border-radius: 10px;
    height: 350px;
    margin-top: 25px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
animation-direction: alternate-reverse;
  
}
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:15px;}
  50%  {left:0px; top:30px;}
  75%  { left:0px; top:45px;}
  100% {left:0px; top:60px;}
}
.splashFooter {
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin-top: 10px;
}

.containerSplashImg{
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   padding-top: 20px;
//    background-color: blue;
   margin-left: 15px;

}
.divSplashpics{
    height: 650px;
    width: 13.5%;
    min-width: 200px;  
    margin: 1px;
    overflow: hidden;
    padding: 7px;
    // background-color: cornflowerblue;

}
.textinsplash{
    // font-size: 60px;
        // background-color: red;

    // color: red;
    font-size: 150px;
    margin: 2px;
    font-weight: 700;
    height: 270px;
    // padding-top: 70px;
    margin-top: 20px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
      animation-name: title;
  animation-duration: 5s;
    animation-iteration-count: infinite;
}


// .textinsplash{
//     background-color: red;
//     font-size: 80px;

//     height: 240px;
//     // padding-top: 70px;
//     margin-top: 70px;
//     // position: ;

// }
.dummy1{
    height: 100px;
    // background-color: burlywood;
}
.dummy2{
    height: 200px;
        // background-color: burlywood;

}

////////// animation

div {


}

.splash-title {
    font-size: 90px;
    margin: 2px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    

}

@keyframes title {
  0%   {color: red;}
  20%  {color: rgb(124, 255, 2);}
  40%  {color: blue;}
  60% {color: rgb(152, 247, 199);}
  80% {color: rgb(119, 220, 245);}
  100% {color: rgb(220, 15, 247);}
}








