.search-container {
  width: 70%;
}

.search {
  border-radius: 5px;
  background-color: #E8E8E8;
  display: flex;
  line-height: 20px;
  padding: 10px;
  width: 70%;
  height: 100%;
  width: 100%;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  flex: 1;
}


.results{
  margin-top: 20px;
  margin-left: 20px;
}