
.name-show-board{
    color: black;
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
    // background-color: red;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid rgb(218, 216, 216);
}
.add-pin-in-show-board{
    font-size: 20px;
    font-weight: bold;
}

.fas.fa-long-arrow-alt-left{
    // background-color: red;
    margin-left: 100px;
    // margin-top: 100px;
    font-size: 50px;
    color: black;
    // height: 10px;
}