.errorInBoardForm {
  color: white;
}
.all_board {
  padding-top: 60px;

  height: 400px;
}
.boardform {
  margin: auto;
  text-align: center;
  width: 410px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  background-color: white;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.errorInBoardForm {
  color: red;
  padding: 5px;
}
.titlecreateForm {
  font-weight: bold;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 20px;
}
.inputCreateBoard {
  border-radius: 40px;
}

.canclebutton {
  width: 80%;
  margin: 8px 0;
  background-color: #efefef;
  color: black;

  outline: none;
  height: 45px;
  align-items: center;
  margin-right: 30px;
  border-radius: 10px;
}
.createbutton {
  width: 80%;

  border-radius: 10px;

  margin: 8px 0;
  background-color: #8e8e8e;
  color: white;

  outline: none;
  height: 45px;
  align-items: center;
  margin-right: 30px;
}
.delete-edit-button {
  display: flex;
}
.delete-board {
  margin: 10px;

  text-decoration: none;
  font-size: 30px;
  border: none;
  padding-top: 30px;
}
.create-group-btton {
  display: flex;
  justify-content: right;

  height: 30px;
  margin-top: 20px;
  margin-left: 180px;
  padding: 10px;
  margin-bottom: 20px;
}
