.name-show-board {
  color: black;
  font-size: 35px;
  font-weight: bold;
  padding-top: 30px;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid rgb(218, 216, 216);
}
.add-pin-in-show-board {
  font-size: 20px;
  font-weight: bold;
}

.fas.fa-long-arrow-alt-left {
  margin-left: 100px;
  font-size: 50px;
  color: black;
}
