.edit-board-item{
  background-color: white;
  padding: 0;
border: none;
background: none;
}

.fas.fa-pen{
  padding: 0;
border: none;
background: none;

}
.box-index-items-container{
  // display: grid;
  // flex-direction: row;
  // flex-wrap: wrap;
  // width: 700px;
  // background-color: green;
  padding: 0 50px 50px 50px;
margin: 0 50px 50px 50px;
  // width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    // color: #000;
    // text-align: left;
    // margin-right: -50px;
    // grid-row: 1fr 1fr 1fr 1fr;
   


}

.hover-edit-board{
  border-style: none;
  background: none;
  padding: 5px;
  // margin-bottom: 10px;
  border: none;
  text-decoration: none;
  // border-left: solid 1px rgb(161, 155, 155);
}
.box-index-item{
    // color: white;
    background-color: #EFEFEF;
    // margin-left: 20px;
    padding: 20px;
    // width: 200x;
    height: 200px;
    // width: 20%;
     width: 20%;
text-overflow: ellipsis;
 overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    // align-content: center;
    font-weight: bold;
    font-size: 16px;
    	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 
    
    
}

.edit-board-item-edit{
  font-size: 23px;
}
.title-edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-content: center;
  // align-items: center;
  margin-top: 20px;
  // background-color: red;
  height: 30px;
  // overflow-wrap: break-word;
  // word-wrap:break-word;
    // text-overflow: ellipsis;
 overflow: hidden;
//  button:focus {outline:0;}

}
.item-image{
  height: 80%;
  width: 100%;
  border-radius: 10px;
  background-color: #8E8E8E;
}